

<div class="container">
    <h3 class="mt-2 mb-4">Add Employee</h3>

    <form class="mb-5" (ngSubmit)="insertData()">
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="employee.name">
        </div>
        <div class="form-group">
            <label for="Age">Age</label>
            <input type="number" class="form-control" name="age" [(ngModel)]="employee.age">
        </div>
        <div class="form-group">
            <label for="Age">Salary</label>
            <input type="number" class="form-control" name="salary" [(ngModel)]="employee.salary">
        </div>
        <div class="form-group">
            <label for="Age">Gender</label>
            <input type="checkbox" class="ml-1"> Male
        </div>
        <div class="form-group">
            <button class="btn btn-primary" [disabled]="!employee.name || !employee.age || !employee.salary">Add</button>
        </div>
    </form>
</div>


<div class="container">
    <h1 class="mt-5 mb-3">Employee List</h1>
</div>

<app-generic-table *ngIf="employeeList" [tableData]="employeeList" (empDeleted)="deleteImplemented($event)"></app-generic-table>
